<section class="subscribe-card">
  <div class="subscribe-inner">
    <h3>Subscribe to Musings</h3>
    <p>Receive quiet reflections and new essays directly in your inbox.</p>
    <form class="subscribe-form" action="https://zgp4-zgp4.maillist-manage.in/weboptin.zc" method="POST" target="_blank" onsubmit="if(this.querySelector('#zc_spmSubmit')){this.querySelector('#zc_spmSubmit').remove();}">
      <input type="email" name="CONTACT_EMAIL" placeholder="Your email address" required aria-label="Email address for subscription">
      <button type="submit" name="SIGNUP_SUBMIT_BUTTON" id="zcWebOptin">Subscribe</button>
      
      <!-- Hidden Zoho Campaigns parameters -->
      <input type="hidden" name="submitType" value="optinCustomView">
      <input type="hidden" name="emailReportId" value="">
      <input type="hidden" name="formType" value="QuickForm">
      <input type="hidden" name="zx" value="1dfbc2e3fc">
      <input type="hidden" name="zcvers" value="2.0">
      <input type="hidden" name="oldListIds" value="">
      <input type="hidden" name="mode" value="OptinCreateView">
      <input type="hidden" name="zcld" value="154c2622f4f3f324">
      <input type="hidden" name="zctd" value="">
      <input type="hidden" name="zc_Url" value="zgp4-zgp4.maillist-manage.in">
      <input type="hidden" name="new_optin_response_in" value="0">
      <input type="hidden" name="duplicate_optin_response_in" value="0">
      <input type="hidden" name="zc_trackCode" value="ZCFORMVIEW">
      <input type="hidden" name="zc_formIx" value="3z4e39154cea1da35c689d320ac1e2349bf373d4b2f6c47e8bb4bc76d350f27f51">
      <input type="hidden" name="viewFrom" value="URL_ACTION">
      <input type="hidden" name="scriptless" value="yes">
      <input type="hidden" id="zc_spmSubmit" name="zc_spmSubmit" value="ZCSPMSUBMIT">
    </form>
    <div class="subscribe-rss">
      <span>Or follow via RSS:</span>
      <a href="{{ "index.xml" | relURL }}" target="_blank" class="rss-link">
        <svg viewBox="0 0 24 24" width="16" height="16" fill="currentColor">
          <path d="M6.18 15.64a2.18 2.18 0 0 1 2.18 2.18C8.36 19 7.38 20 6.18 20 5 20 4 19 4 17.82a2.18 2.18 0 0 1 2.18-2.18M4 4.44A15.56 15.56 0 0 1 19.56 20h-2.83A12.73 12.73 0 0 0 4 7.27V4.44m0 5.66a9.9 9.9 0 0 1 9.9 9.9h-2.83A7.07 7.07 0 0 0 4 12.93v-2.83Z"/>
        </svg>
        RSS Feed
      </a>
    </div>
  </div>
</section>
